*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    background-color: rgb(43, 138, 221);
    justify-content: space-around;
    padding: 20px 0;
    color: rgb(190, 21, 21);
}

nav .logo{
    font-family: 'pacifico', cursive;
}

nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li{
    color: rgb(43, 138, 221);
    text-decoration: none;

}
    